body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #ff5733;
    font-size: 40px;
}

p {
    color: #333333;
    font-size: 18px;
}
